<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "pym-full-blue.jpg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links when logged in -->
    <%= link_to "Accueil", root_path, class: "navbar-wagon-item navbar-wagon-link tab" %>
    <%= link_to "Profil", pages_profil_path, class: "navbar-wagon-item navbar-wagon-link tab" %>
    <%= link_to "Contact", pages_contact_path, class: "navbar-wagon-item navbar-wagon-link tab" %>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <button class="fa fa-bars dropdown-toggle menu" data-toggle="dropdown"></button>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Accueil", root_path, class: "navbar-wagon-item navbar-wagon-li" %></li>
        <li>
          <%= link_to "Thérapie individuelle", pages_therapie_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Intervention extérieure", pages_intervenant_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "La TCC", pages_tcc_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <hr>
        <li><%= link_to "Profil", pages_profil_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        <li><%= link_to "Contact", pages_contact_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        </li>
      </ul>
    </div>
  </div>
</div>
