<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pierre-Yves Mori - TCC</title>
    <meta name="description" content="Happyseat generates the best seating plan for you and your guests for your wedding in an automactic and interactive way.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Pierre-Yves Mori, Thérapeute, intervenant, formateur, en thérapie comportementale et cognitive.">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://www.pym-therapeute-tcc.fr">
    <meta property="og:image" content="">

    <%= render "shared/favicon" %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
      <%= render 'shared/navbar' %>
      <%= render 'shared/sidebar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>
      <%= render 'shared/detail' %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
  </body>
</html>
